/* @import './style.scss'; */

main{
    background: url('../assets/hero-photo.webp') no-repeat;
}

h1{
    /* color: $primary-color; */
    color: var(--primary-color);
    font-size: 2.1rem;
    font-weight: 100;
    text-align: center;
    padding: 2.8rem 0 4rem 0;
    letter-spacing: 1px;
}